{% extends 'main/base.html' %} {% block content %} {% load crispy_forms_tags %}

<form method="post" action="/">
    {% if result != None and result == True %}
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" />
        </svg>
        <div>0 vulnerabilities found in the Smart Contract.</div>
    </div>
    {% elif result == False %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
            <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div>Presence of vulnerabilities found in the Smart Contract.</div>
    </div>
    {% endif %}

    <div class="col">
        <div class="row">{{ form|crispy }} {% csrf_token %}</div>

        <br />

        <div class="row">
            <div class="col-4">
                <button type="submit" name="submit" class="btn btn-primary">Check Bytecode</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}
